/* CSS for Styling the Live Streaming Page */
body {
    background-color: #24273a;
    font-family: Arial, sans-serif;
}

h3, h4 {
    color: #cad3f5;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #363a4f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h3 {
    color: #cad3f5;
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #494d64;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

.summary-box {
    border: 1px solid #363a4f;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #1e2030;
    text-align: left;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}